body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(11,20,49);
  background: radial-gradient(circle, rgba(11,20,49,1) 0%, rgba(6,10,23,1) 100%);
  color:white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
